---
import { getCollection, type CollectionEntry } from "astro:content";

export interface Props {
  category: string;
}
const { category } = Astro.props;
const docs = await getCollection("docs", (d) => d.data.category === category);
const sortedDocs = docs.slice().sort((a, b) => a.data.title.localeCompare(b.data.title));

const base = import.meta.env.BASE_URL;
const getHref = (entry: CollectionEntry<"docs">) => `${base}${entry.id}/`;
---

<dl>
  {
    sortedDocs.map((entry) => (
      <>
        <dt>
          <a href={getHref(entry)}>{entry.data.title}</a>
        </dt>
        <dd>{entry.data.description}</dd>
      </>
    ))
  }
</dl>
